#mainBtn {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#mainC {
    display: grid;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: blueviolet;
    border-radius: 7px;
    text-align: center;
}

#nature {
    height: 600px;
    width: 100%;
    justify-content: center;
    border-radius: 7px;
}

#logo {
    text-align: center;
    font-size: 25px;
    justify-content: center;
    text-decoration: none;
    font-family: fantasy;
    color: white;
}